<!DOCTYPE html>
<html>
<header>
    <title>MyBlog</title>
    <link href="index.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</header>

<body>
    <div id="app2"></div>
    <div id="app">
        <h2>基礎操作屬性篇</h2>
        狀態屬性: Message is: {{ message }} <br />
        狀態屬性: <input v-model="message"><br />
        狀態屬性: 單價: {{ price }}, 數量: {{ quantity }}, 總金額共: {{ price * quantity }}<br />
        動態改變屬性: {{ name }} 太高了不方便! <br>
        <hr />
        <p>方法屬性:總金額共{{ subtotal() }}元</p>
        <p>方法屬性:ES6總金額共{{ subtotal_ES6() }}元</p>
        <p>計算屬性:{{ subtotal_cp }}元</p>
        <hr />
        <h2>input()事件觸發臺日匯率轉換方法</h2>
        <p>1 日幣 = 0.278 台幣</p>
        <div>台幣 <input type="text" v-model="twd" v-on:input="twd2jpy"></div>
        <div>日幣 <input type="text" v-model="jpy" v-on:input="jpy2twd"></div>
        <hr />
        <h2>計算屬性有Get/Set方法</h2>
        <p>假設, 1 日幣 = 0.278 台幣, 且 1 美金 = 28.540 台幣:</p>
        <div>台幣 <input type="text" v-model="twd"></div>
        <div>日幣 <input type="text" v-model="jpy_cp"></div>
        <div>美金 <input type="text" v-model="usd_cp"></div>
        <hr />
        <h2>HTML標籤屬性使用v-bind:{屬性}來綁定</h2>
        <p v-bind:id="customId">v-bind:id 綁定tag屬性 {{ customId }}</p>
        <button v-bind:disabled="isBtnDisabled">click me!</button><br />
        <button :disabled="isBtnDisabled">click me!</button>
        <hr />
        <h2>RadioBox的操作方式</h2>
        <div>
            <input type="radio" id="one" value="1" v-model="picked">
            <label for="one">One</label>
            <br />
            <input type="radio" id="two" value="2" v-model="picked">
            <label for="two">Two</label>
            <br />
            <span>Picked: {{ picked }}</span>
        </div>
        <hr />
        <h2>CheckBox的操作方式</h2>
        <div>
            <!-- <input type="checkbox" id="selectAll" v-on:click="SelectAll()">
            <label for="selectAll">SelectAll</label> -->
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <input type="checkbox" id="mary" value="Mary" v-model="checkedNames">
            <label for="mary">Mary</label>
            <br />
            <p>Checked names: {{ checkedNames }}</p>
            <br />
            <input type="checkbox" id="checkbox" v-model="isChecked">
            <label for="checkbox">Status: {{ isChecked}}</label>
        </div>
        <hr />
        <h2>Select的操作方式</h2>
        <div>
            <select v-model="selected">
                <option disabled value="">請選擇</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>基隆市</option>
            </select>
            Selected: {{ selected || '未選擇' }}
        </div>
        <hr />
        <h2>v-model修飾子(Modifiers)篇</h2>
        <div>
            <h4>如要使v-model不要頻繁更新，可搭配使用修飾子(Modifiers)協助，與v-model搭配的有以下三種</h4>
            <ul>
                <li>".lazy"會將本來監聽的input事件調整為change事件</li>
                <li>".number"會將輸入值於更新狀態時轉換為數字格式</li>
                <li>".trim"會自動過濾前後的空白字元</li>
            </ul>
            <p>
                <input v-model.lazy="msg1">
                Message with ".lazy" : {{ msg1 }}
            </p>
            <p>
                <input v-model.number="num1"> +
                <input v-model.number="num2"> =
                {{ sum }} 不會變成字串相+
            </p>
            <p>
                <input v-model.trim="msg2">
                Message with ".trim" is: {{ msg2 }}
            </p>
        </div>
        <hr />
        <h2>其他指令語法</h2>
        <p>使用<b>v-text="text"</b>效果等同效果等同JS DOM API的innerText，以及直接使用{{text}}，但是Div原本的內容會被清除。</p>
        <p>使用<b>v-html="text"</b>效果等同JS DOM API的innerHtml</p>
        <p>使用<b>v-once="text"</b>效果只會在渲染指定的節點一次，往後不再更新</p>
        <p v-pre>使用<b>v-pre</b>指令使{{ text }}不再被指定為模板語法</p>
        
        <h2> Edit: <input type="text" v-model="text"></h2>
        <div>
            v-text: <div class="text" v-text="text"></div>
            <br />
            v-html: <div class="html" v-html="text"></div>
            <br />
            v-text with "v-once": <div class="html" v-text="text" v-once></div>
            <h4 v-pre>使用v-pre指令使{{ text }}不再被指定為模板</h4>
        </div>
        <hr />

        <div>
            <h3>Vue.js與CSS樣式的綁定

                v-model.trim="message" v-bind:class="{ 'error' : message.length > 10}"
            </h3>
            <!-- v-bind:class 也可簡寫為 :class -->
            <p>當輸入文字不超過 10 個字時，輸入框維持預設樣式，超過 10 個字的時候，則樣式會變成紅框紅字。</p>
            <input type="text" v-model.trim="message" v-bind:class="{ 'error' : message.length > 10}">
        </div>
        <hr />
        <p>當isActive與hasError的狀態更新時，對應的Class也會依照它們的truthy或falsy狀態來進行更新。</p>
        <div v-bind:class="{ active: isActive, 'text-danger': hasError}">
            請打開開發人員工具點擊此段DIV標籤內的按鈕並觀察Class變化
            <input type="button" v-on:click="ChangeIsActive" value="ChangeIsActive" />
            <input type="button" v-on:click="ChangehasError" value="ChangehasError" />
        </div>
        <hr />

        <div>
            <h3> Count: {{ count }}</h3>
            <button v-on:click="alert('Hello!')">alert:Hello</button><br />
            <button @click="plus">Plus</button>
            <button @click="count++">++</button><br />
            <button @click="plus2">Plus2</button>
            <p>Amount: <input v-model.number="amount"></p>
            <button @click="plus3(amount, $event)">Plus3</button>
        </div>
        <hr />

        <div class="p" v-show="msg.length > 0">
            <div v-for="m in msg">{{ m }}</div>
        </div>

        <div style="width:100%; height:270px;">
            <div class="wrap">
                沒有機制
                <div class="outer" @click="alert('Outer')">
                    <span>Outer</span>
                    <div class="inner" @click="alert('Inner')">Inner</div>
                </div>
            </div>
            <div class="wrap">
                冒泡機制
                <div class="outer" @click="alert('Outer')">
                    <span>Outer</span>
                    <div class="inner" @click.stop="alert('Inner')">Inner</div>
                </div>
            </div>
            <div class="wrap">
                捕獲機制
                <div class="outer" @click.capture="alert('Outer')">
                    <span>Outer</span>
                    <div class="inner" @click="alert('Inner')">Inner</div>
                </div>
            </div>
            <div class="wrap">
                取消事件 (在使用vue@3.3.4時可能還缺少某些語法糖，故prevent失效)
                <br />
                <a href="#" class="btn" v-on:click.prevent="alert('hello')">click me</a>
                <button @click.prevent="alert('hello')"></button>
            </div>
        </div>        
        <div>
            只執行一次
            <button @click.once="alert('Once')">Plus Once</button>
        </div>
        <hr />


        <h2>鍵盤修飾子</h2>
        <div>
            <p>你按下的按鍵是: {{ pressKey}} </p>
            <input type="text" @keyup="press" />
        </div>
        <hr />

        <div class="messages">
            於輸入框輸入訊息後按下enter鍵觸發某個方法
            <div v-for="m in messages">{{ m }}</div>
        </div>
        <input type="text" placeholder="輸入任意按鍵後按下enter" @keydown.enter="addToMessages" v-model.trim="msgKeyDown">


        <div class="messages">
            於輸入框輸入訊息後按下Ctrl + Enter 鍵與 單一按enter鍵觸發事件
            <div v-for="m2 in messages2">{{ m2 }}</div>
        </div>
        <input type="text" 
            placeholder="輸入任意文字後，試試同時按下 Ctrl + Enter 鍵與只按 Enter 的差異" 
            @keydown.enter.exact="addToMessages2"
            v-model.trim="msgKeyDown2" style="width:400px;" />
        <hr />

        <h2>滑鼠修飾子</h2>
        <div>
            輸入文字後按下滑鼠左/中/右鍵
            <input type="text" v-model.trim="msgKeyDown3"
                @mousedown.left="addToMessages3" 
                @mousedown.right="addToMessages3"
                @mousedown.middle="addToMessages3"/>
            Message3 with Mouse ".left、.right、.middle" : {{ messages3 }}
        </div>
        <hr />

        <h2>v-if 對畫面的元素進行條件的控制</h2>
        <div>
            
        </div>
        <h2>v-show 對畫面的元素進行流程的控制</h2>
        <div>

        </div>
        <hr />

        <div>

        </div>
        <hr />
    </div>
</body>

<footer>
    
</footer>
<script>
    // 主要練習用實體
    const Instance = vm.mount('#app');
    // 動態改變實體內狀態Data
    Instance.$data.name = '身高189.3cm';
    // 使用template的實體
    vm2.mount('#app2')
</script>
</html>